<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="resetPasswordForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required','password')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="password" type="password" placeholder="New password">
                                </div>
                            </div>
                            <small *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required','password')" class="text-danger">*New password is required</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required','confirmPassword')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="confirmPassword" type="password" placeholder="Confirm password">
                                </div>
                            </div>
                            <small *ngIf="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required','confirmPassword')" class="text-danger">*Confirm password is required</small>
                            <small *ngIf="resetPasswordForm.hasError('confirmPasswordValidator','confirmPassword')" class="text-danger">*Password doesn't match</small>

                            <button (click)="reset()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Reset</button>
                        </form>
                    </div>
                    <!--<div class="mx-3 my-2 py-2 bordert">
                            <div class="text-center py-3">
                                <a href="https://www.google.com" target="_blank" class="px-2"><img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt=""></a>
                            </div>
                        </div> -->
                </div>

            </div>
        </div>
    </div>
</div>
